.span12.dashboardDiv
  .row-fluid
    .span3.smallbox.greybox
      = link_to new_patient_path do
        .boxtop
          .icon-download-alt.white-icon.icon-2x.boxtext
          New patient 
    .span3.smallbox.greybox
      = link_to  patients_path do
        .boxtop
          .icon-download-alt.white-icon.icon-2x.boxtext
          Manage Patients
    .span3.smallbox.greybox
      = link_to  new_treatment_session_path do
        .boxtop
          .icon-hospital.white-icon.icon-2x.boxtext
          Treatment
    .span3.smallbox.greybox
      = link_to  dashboard_treatment_facilities_path do
        .boxtop
          .icon-sitemap.white-icon.icon-2x.boxtext
          Dashboard
  .row-fluid
    .span3.smallbox.greybox
      =link_to testimonials_path do
        .boxtop
          .icon-comments.white-icon.icon-2x.boxtext
          Testimonials
    .span3.smallbox.greybox
      =link_to  "#" do  
        .boxtop
          .icon-calendar.white-icon.icon-2x.boxtext
          Schedule
    .span3.smallbox.greybox
      =link_to training_videos_path do
        .boxtop
          .icon-desktop.white-icon.icon-2x.boxtext
          Training 
    .span3.smallbox.greybox
      = link_to photos_path do
        .boxtop
          .icon-camera-retro.white-icon.icon-2x.boxtext
          Photos

