%center
  .row
    = image_tag '/assets/LaunchPad.png'
    = link_to(image_tag('/assets/Intake.png'), new_patient_path)
    = link_to(image_tag('/assets/treatment.png'), new_treatment_session_path)
    = image_tag '/assets/training.png'
  .row
    = image_tag '/assets/faces.png'
    = image_tag '/assets/smile.png'
    = link_to(image_tag('/assets/testimonials.png'), testimonials_path)
    = image_tag '/assets/schedule.png'
  .row
    = image_tag '/assets/flower.png'
    = image_tag '/assets/photos.png'
    = link_to(image_tag('/assets/manage_patients.png'), patients_path)
    = image_tag '/assets/shoes.png'
