.span10
  .span4
    .field
      = f.label :facility_name
      = f.text_field :facility_name
    .field
      = f.label :facility_url
      = f.text_field :facility_url
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :phone
      = f.text_field :phone
    .field
      = f.label :fax
      = f.text_field :fax
  .span6
    .field
      = f.label :address_1, 'Street address'
      = f.text_field :address_1
    .field
      = f.label :address_2, 'Apt./Suite'
      = f.text_field :address_2
    .field
      = f.label :city
      = f.text_field :city
    .field
      = f.label :state
      = f.text_field :state
    .field
      = f.label :zipcode
      = f.text_field :zipcode
.span10
  .span3
    %h4 Machines
    - if current_user.has_role?(Role::SUPER_ADMIN)
      #machines
        = f.fields_for :machines do |machine_form|
          = render :partial => 'machine', :locals => { :f => machine_form }
        = add_machine(facility, f)
    - else
      - if facility.machines.empty?
        None
      - else
        - idx = 1
        - facility.machines.each do |machine|
          == #{idx}: #{machine.display_name}: #{machine.model} (#{machine.serial_number}), installed #{machine.date_installed.try(:strftime, '%b %d, %Y')}
          %br/
          - machine.users.each do |user|
            == Operated by #{user.email}
            %br/
          - idx += 1
  .span3
    %h4 Treatment Areas
    #treatment_areas
      = f.fields_for :treatment_areas do |area_form|
        = render :partial => 'treatment_area', :locals => { :f => area_form }
      = add_treatment_area(facility, f)
  .span3
    %h4 Users
    - if current_user.has_role?(Role::SUPER_ADMIN)
      #users
        = f.fields_for :users do |user_form|
          = render :partial => 'user', :locals => { :f => user_form }
        = add_user(facility, f)
    - else
      - if @facility.users.empty?
        None
      - else
        - idx = 1
        - @facility.users.each do |user|
          == #{idx}: #{user.email}
          - user.machines do |machine|
            == Assigned to #{machine.display_name}
          - idx += 1
