.span12
  .control-group
    %h4 Facility
    .control-label
      = f.label :facility_name
    .controls
      = f.text_field :facility_name
    .control-label
      = f.label :facility_url
    .controls   
      = f.text_field :facility_url
    .control-label
      = f.label :first_name
    .controls   
      = f.text_field :first_name
    .control-label
      = f.label :last_name
    .controls   
      = f.text_field :last_name
    .control-label
      = f.label :email
    .controls   
      = f.text_field :email
    .control-label
      = f.label :phone
    .controls   
      = f.text_field :phone
    .control-label
      = f.label :fax
    .controls   
      = f.text_field :fax
    .control-label
      = f.label :address_1, 'Street address'
    .controls   
      = f.text_field :address_1
    .control-label
      = f.label :address_2, 'Apt./Suite'
    .controls   
      = f.text_field :address_2
    .control-label
      = f.label :city
    .controls   
      = f.text_field :city
    .control-label
      = f.label :state
    .controls   
      = f.text_field :state
    .control-label
      = f.label :zipcode
    .controls   
      = f.text_field :zipcode
    - if !f.object.new_record?
      - if current_user.has_role?(Role::TECHNICIAN)
        %h4 Treatment Plan Templates
        #treatment_plan_templates
          - facility.treatment_plan_templates.each do |template|
            - if 'TreatmentPlanTemplate' == template.type
              = f.fields_for :treatment_plan_templates, template do |template_form|
                = render :partial => 'shared/treatment_plan', :locals => { :f => template_form, :type => 'TreatmentPlanTemplate' }
          = add_treatment_plan_template(facility, f)
      .span5
        %h4 Machines
        - if current_user.has_role?(Role::SUPER_ADMIN)
          #machines
            = f.fields_for :machines do |machine_form|
              = render :partial => 'machine', :locals => { :f => machine_form } 
            .span6 
              = add_machine(facility, f)
        - else
          - if facility.machines.empty?
            None
          - else
            - idx = 1
            - facility.machines.all.each do |machine|
              == #{idx}: #{machine.display_name}: #{machine.model} (#{machine.serial_number}), installed #{machine.date_installed.try(:strftime, '%b %d, %Y')}
              %br/
              - machine.users.each do |user|
                == Operated by #{user.email}
                %br/
              - idx += 1
        %br/
        %h4 Treatment Areas
        #treatment_areas
          = f.fields_for :treatment_areas do |area_form|
            = render :partial => 'treatment_area', :locals => { :f => area_form }
          = add_treatment_area(facility, f)
        %h4 
          %center Users
        - if current_user.has_role?(Role::SUPER_ADMIN)
          #users
            = f.fields_for :users do |user_form|
              = render :partial => 'user', :locals => { :f => user_form, :facility => facility }
            = add_user(facility, f)
        - else
          - if @facility.technicians.empty?
            None
          - else
            - idx = 1
            - @facility.technicians.each do |user|
              == #{idx}: #{user.email}
              - user.machines do |machine|
                == Assigned to #{machine.display_name}
              - idx += 1
