.machine
  = f.hidden_field :treatment_facility_id
  = f.hidden_field :_destroy
  = link_to_function "X", "if (confirm('Delete this machine?')) remove_machine(this)", :class => "close"
  %br/
  .control-label
    = f.label :model
  .controls   
    = f.text_field :model, :maxlength => Machine::MAX_FIELD_LEN
  .control-label
    = f.label :serial_number
  .controls   
    = f.text_field :serial_number, :maxlength => Machine::MAX_FIELD_LEN
  .control-label
    = f.label :display_name
  .controls   
    = f.text_field :display_name
  .control-label
    = f.label :minutes_per_treatment
  .controls   
    = f.number_field :minutes_per_treatment, :min => 1
  .control-label
    = f.label :date_installed
  .controls   
    = f.date_select :date_installed, :order => [:month, :day, :year]
  .control-label
    = f.label :hostname, 'Hostname:port'
  .controls   
    = f.text_field :hostname, :maxlength => Machine::MAX_HOSTNAME_LEN
  .control-label
    = f.label :web_enabled
  .controls   
    = f.check_box :web_enabled
  .control-label
    = f.label :license_active
  .controls   
    = f.check_box :license_active
