.machine
  = f.hidden_field :treatment_facility_id
  = f.hidden_field :_destroy
  = link_to_function "X", "if (confirm('Delete this machine?')) remove_machine(this)", :class => "close"
  .field
    = f.label :model
    = f.text_field :model, :maxlength => Machine::MAX_FIELD_LEN
  .field
    = f.label :serial_number
    = f.text_field :serial_number, :maxlength => Machine::MAX_FIELD_LEN
  .field
    = f.label :display_name
    = f.text_field :display_name
  .field
    = f.label :date_installed
    = f.date_select :date_installed, :order => [:month, :day, :year]
