.treatment_area
  .control-group
    .control-label
      = f.label :area_name
    .controls  
      = f.text_field :area_name, :maxlength => TreatmentArea::MAX_FIELD_LEN
    .control-label
      = f.label :process_name
    .controls  
      = f.text_field :process_name, :maxlength => TreatmentArea::MAX_FIELD_LEN
    .control-label
      = f.label :duration_minutes, 'Process Duration (mins)'
    .controls  
      = f.number_field :duration_minutes, :min => 1

      = f.hidden_field :treatment_facility_id
      = f.hidden_field :_destroy
      = link_to_function "Remove", "if (confirm('Delete this treatment area?')) remove_treatment_area(this)", :id => "delete_ta_#{f.object.id}", :class => "btn btn-inverse removebtn" 
