.row
  .span2
    = f.object.area_name
    %br
    == #{f.object.duration_minutes} minutes :  #{f.object.process_timer.display_status}
    %br
    %br
  .span3
    = f.text_field :process_name, :maxlength => TreatmentArea::MAX_FIELD_LEN
  .span3
    = render :partial => 'shared/timer', :locals => { :f => f, :timer => f.object.process_timer }
