.offset1.span10.facilitypage
  %h1= @facility.facility_name
  %p= @facility.facility_url
  %p== Dr. #{@facility.first_name} #{@facility.last_name}
  %p== Email: #{@facility.email}
  %p== Phone: #{@facility.phone}
  - if !@facility.fax.blank?
    %p== Fax: #{@facility.phone}
  %br/
  %p= @facility.address_1
  - if !@facility.address_2.blank?
    %p= @facility.address_2
  %p== #{@facility.city}, #{@facility.state}  #{@facility.zipcode}
  %h4 Machines
  - if @facility.machines.empty?
    None
  - else
    - idx = 1
    - @facility.machines.each do |machine|
      == #{idx}: #{machine.display_name}: #{machine.model} (#{machine.serial_number}), installed #{machine.date_installed.try(:strftime, ApplicationHelper::DATE_FORMAT)}
      %br/
      - machine.users.each do |user|
        == Operated by #{user.email}
        %br/
      - idx += 1
  %h4 Treatment Areas
  - if @facility.treatment_areas.empty?
    None
  - else
    - idx = 1
    - @facility.treatment_areas.each do |area|
      == #{idx}: #{area.area_name}: #{area.process_name}
      %br/
      - idx += 1
  %h4 Users
  - if @facility.technicians.empty?
    None
  - else
    - idx = 1
    - @facility.technicians.each do |user|
      == #{idx}: #{user.email}
      - user.machines do |machine|
        == Assigned to #{machine.display_name}
      %br/
      - idx += 1
  %br/
  = link_to 'Back', treatment_facilities_path
