.treatment_plan
  .control-group
    - if 'TreatmentPlanTemplate' == type
      .control-label
        = f.label :description
      .controls  
        = f.text_field :description
      .control-label
        = f.label :treatments_per_session, 'Exposures per session'
      .controls  
        = f.number_field :treatments_per_session, :min => 1
    - else
      .control-label
        = f.object.description
        &nbsp;:&nbsp; 
        == #{f.object.treatments_per_session} treatments/session
        %hr
    .control-label
      = f.label :num_sessions, 'Number of Sessions'
    .controls
      = f.number_field :num_sessions, :min => 1
    .control-label
      = f.label :price
    .controls
      = f.text_field :price
      &nbsp:&nbsp:&nbsp:&nbsp:
      = link_to_function "Remove", "if (confirm('Delete this plan?')) remove_treatment_plan(this)", :class => " btn btn-inverse removebtn" 
      %br/
      = f.hidden_field :type, :value => type
      = f.hidden_field :_destroy

