= stylesheet_link_tag "application", :media => "all"
%table.phistory
  %tr
    - idx = 1
    - @sessions.each do |session|
      %td
        %h3== Session #{idx}
        - idx += 1
  %tr
    - @sessions.each do |session|
      %td
        - if !session.patient_image.file.nil? and session.patient_image.file.exists?
          = image_tag session.patient_image_url(:standard).to_s, :class => "patientImg"
  %tr
    - @sessions.each do |session|
      %td
        - if session.labels.empty?
          - session.measurements.each do |m|
            == #{m.location} #{m.circumference}cm
            %br/
        - else 
          - session.labels.reverse.each do |label|
            %em= label
            %br/
            - session.labeled_measurements(label).each do |m|
              == #{m.location} #{m.circumference}cm
              %br/
  %tr
    - @sessions.each do |session|
      %td
        Notes:
        %pre= session.notes  
  %tr
    - @sessions.each do |session|
      %td
        Machine:
        = session.machine.display_name