.span6.offset0.newpatient
  %br
  = form_for @patient do |f|
    = render :partial => 'shared/error_messages', :locals => { :errors => @patient.errors, :name => 'Patient' }
    = render :partial => 'fields', :locals => { :f => f }
    - current_plan = @patient.unfinished_plan
    - if current_plan.nil?
      Select a new treatment plan
      %br/
      = select_tag :plan_template, options_for_select(@facility.treatment_plan_templates.where("type = 'TreatmentPlanTemplate'").map { |t| t.description })
    - else
      .icon-calendar.icon-3x
      Current Plan:
      %br/
      = f.fields_for :treatment_plans, current_plan do |plan_form|
        = render :partial => 'shared/treatment_plan', :locals => { :f => plan_form, :type => 'TreatmentPlan' }
    %br/
    .actions
      = f.submit 'Update Patient Record', :class => 'btn btn-inverse greybtn'
