.span8.offset0.newpatient
  %h3 Manage Patients at #{@facility.facility_name}
  = will_paginate
  = page_entries_info
  %br
  %br
  - @patients.each do |patient|
    .row.patientRow
      .span3.patientName
        = link_to patient.name.to_s, edit_patient_path(patient)
      .span1
        = link_to 'Show', patient_path(patient), {:class => 'btn btn-inverse greybtn btn-small'}  
      .span1
        = link_to 'Edit', edit_patient_path(patient), {:class => 'btn btn-inverse greybtn btn-small'}  
      .span1
        = link_to 'Treat', treat_patient_path(patient), {:class => 'btn btn-inverse greybtn btn-small'} 
      .span1
        - if patient.unfinished_session.nil?
          = link_to 'Measure', treat_patient_path(patient), {:class => 'btn btn-inverse greybtn btn-small'} 
        - else 
          &nbsp;
      - if patient.can_be_deleted?
        .span1
          = link_to 'Delete', patient, :method => 'delete', :data => { confirm: 'Are you sure?'} , :class => 'btn btn-danger  btn-small'

  %br/
  %center= will_paginate
  %br/
  = link_to "<i class='icon-plus'></i> New Patient".html_safe, new_patient_path,{:class => 'btn btn-inverse greybtn '}  
  %br
  %br

