.offset2
  %h1= @patient.name
  - pct_complete = 40
  - @plans.each do |plan|
    - if plan.complete?
      == #{plan.date_completed.try(:strftime, ApplicationHelper::DATE_FORMAT)}. Completed #{plan.treatment_sessions.count} sessions of '#{plan.description}'
    - else
      = render :partial => 'shared/progress_bar', :locals => { :pct => plan.pct_complete, :text => plan.description }
      - plan.treatment_sessions.order('created_at desc').each do |session|
        = render :partial => 'session', :locals => { :session => session }
  %br/
  %br/
  = link_to 'Edit', edit_patient_path(@patient)
  - if !@patient.unfinished_plan.nil?
    = link_to 'Treat', treat_patient_path(@patient)
