.span12.offset0.newpatient
  .row
    %h1= @patient.name
    - pct_complete = 20
  - @plans.each do |plan|
    .row
      = render :partial => 'shared/progress_bar', :locals => { :pct => plan.pct_complete, :text => plan.description }
      .planPrice== Purchased on #{plan.created_at.try(:strftime, ApplicationHelper::DATE_FORMAT)}: #{number_to_currency(plan.price)}
      - if !plan.complete?  
        .planPrice==Session #{plan.treatment_sessions.count} of #{plan.num_sessions}
      - plan.treatment_sessions.order('created_at desc').each do |session|
        .row
          .span6
            = render :partial => 'session', :locals => { :session => session }
  .row
    = link_to edit_patient_path(@patient) do
      .btn.btn-inverse.greybtn.large-btn
        Edit
    - if !@patient.unfinished_plan.nil?
      = link_to  treat_patient_path(@patient) do
        .btn.btn-inverse.greybtn.large-btn
          Treat
      %br
      %br
