.navbar.navbar-fixed-top
  .navbar-inner.nav-style
    .span1
      .dropdown
        %a#dlabel{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => '#'}
          = image_tag "homeicon.gif"
        %ul{:class => 'dropdown-menu', :role => 'menu'}
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              = link_to "new patient intake", new_patient_path
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              = link_to "manage patients", patients_path
            %li{:role => 'presentation'} 
              = link_to "treatment", new_treatment_session_path
            %li{:role => 'presentation'} 
              = link_to "training videos", training_videos_path
          %li{:role => 'presentation'} 
            = link_to "testimonials", testimonials_path
          %li{:role => 'presentation'} 
            = link_to "schedule", "#"
          %li{:role => 'presentation'} 
            = link_to "photos", photos_path
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              = link_to "dashboard", dashboard_treatment_facilities_path
            - if current_user.has_role?(Role::SUPER_ADMIN)
              %li{:role => 'presentation'} 
                = link_to select_report_path do
                  Reports

            %li{:role => 'presentation'} 
              = link_to "log out", destroy_user_session_path, :method => :delete 
          - else
            %li{:role => 'presentation'} 
              = link_to "log in", new_user_session_path
    .span3
      .logopic
        = link_to root_path do
          = image_tag "logo.gif"
    .span4.offset1.pull-right.topright
      - if current_user.nil?
        = link_to new_user_session_path do
          .icon-user.icon-3x 
          Log In
      - else
        = link_to treatment_facilities_path do
          = image_tag "manage.gif"
          Manage Facilities &nbsp;

        = link_to destroy_user_session_path, :method => :delete do
          .icon-user.icon-3x 
          Log Out 
.row-fluid
  = render :partial => 'shared/flash_messages'
