
.row-fluid
  .span6
    = link_to(image_tag('/assets/logo.jpg'), root_path)   
  .span6.pull-right
    - if current_user.nil?
      %br/
      = link_to 'Log in', new_user_session_path, :class => 'btn btn-large btn-success'
    - else
      %br/
      = link_to 'Manage Facilities', treatment_facilities_path, :class => 'btn'
      = link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-success'
.row-fluid
  = render :partial => 'shared/flash_messages'
