.navbar.navbar-fixed-top
  .navbar-inner.nav-style
    .span2
      .dropdown
        %a#dlabel{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => '#'}
          .icon-reorder.icon-3x
        %ul{:class => 'dropdown-menu', :role => 'menu'}
          %li{:role => 'presentation'}
            = link_to "home", root_path
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              = link_to "new Patient Intake", new_patient_path
            %li{:role => 'presentation'} 
              = link_to "treatment", new_treatment_session_path
            %li{:role => 'presentation'} 
              = link_to "training videos", training_videos_path
          %li{:role => 'presentation'} 
            = link_to "testimonials", testimonials_path
          %li{:role => 'presentation'} 
            = link_to "schedule", "#"
          %li{:role => 'presentation'} 
            = link_to "photos", photos_path
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              = link_to "dashboard", dashboard_treatment_facilities_path
            %li{:role => 'presentation'} 
              = link_to "log out", destroy_user_session_path, :method => :delete 
          - else
            %li{:role => 'presentation'} 
              = link_to "log in", new_user_session_path

    .span5.offset3.pull-right
      = link_to root_path do
        .icon-home.icon-3x &nbsp; &nbsp;
      - if current_user.nil?
        = link_to new_user_session_path do
          .icon-user.icon-3x 
          Log In
      - else
        = link_to treatment_facilities_path do
          .icon-cogs.icon-3x
          Manage Facilities &nbsp;
        - if current_user.has_role?(Role::SUPER_ADMIN)
          = link_to select_report_path do
            Reports
        = link_to destroy_user_session_path, :method => :delete do
          .icon-user.icon-3x 
          Log Out 
.row-fluid
  = render :partial => 'shared/flash_messages'
