.navbar.navbar-fixed-top
  .navbar-inner.nav-style
    .span1
      .dropdown
        %a#dlabel.dropdown-icon{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => '#'}
          = image_tag "homeicon.gif"
        %ul{:class => 'dropdown-menu', :role => 'menu'}
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to new_patient_path do
                  .boxtop
                    .icon-download-alt.white-icon.icon-2x.boxtext
                    New patient 
            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to patients_path do
                  .boxtop
                    .icon-download-alt.white-icon.icon-2x.boxtext
                    Manage Patients

            - if !current_user.treatment_facility.schedule_url.blank?
              %li{:role => 'presentation'} 
                .span3.smallbox.greybox
                  =link_to current_user.treatment_facility.schedule_url, :target => '_blank' do  
                    .boxtop
                      .icon-calendar.white-icon.icon-2x.boxtext
                      Schedule
                    
            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to  new_treatment_session_path do
                  .boxtop
                    .icon-hospital.white-icon.icon-2x.boxtext
                    Treatment

            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                =link_to training_videos_path do
                  .boxtop
                    .icon-desktop.white-icon.icon-2x.boxtext
                    Training 
          %li{:role => 'presentation'} 
            .span3.smallbox.greybox
              =link_to testimonials_path do
                .boxtop
                  .icon-comments.white-icon.icon-2x.boxtext
                  Testimonials
          %li{:role => 'presentation'} 
            .span3.smallbox.greybox
              = link_to photos_path do
                .boxtop
                  .icon-camera-retro.white-icon.icon-2x.boxtext
                  Photos            
          - if !current_user.nil?
            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to  dashboard_treatment_facilities_path do
                  .boxtop
                    .icon-sitemap.white-icon.icon-2x.boxtext
                    Dashboard

            - if current_user.has_role?(Role::SUPER_ADMIN)
              %li{:role => 'presentation'} 
                .span3.smallbox.greybox
                  = link_to select_report_path do
                    .boxtop
                      .icon-sitemap.white-icon.icon-2x.boxtext
                      Reports

            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to  destroy_user_session_path, :method => :delete do
                  .boxtop
                    .icon-sitemap.white-icon.icon-2x.boxtext
                    Log Out

          - else
            %li{:role => 'presentation'} 
              .span3.smallbox.greybox
                = link_to  new_user_session_path do
                  .boxtop
                    .icon-sitemap.white-icon.icon-2x.boxtext
                    Log In

    .span3
      .logopic
        = link_to root_path do
          = image_tag "logo.gif"
    .span5.pull-right.topright
      - if current_user.nil?
        = link_to new_user_session_path do
          .icon-user.icon-3x 
          Log In
      - else
        = link_to treatment_facilities_path do
          // = image_tag "manage.gif"
          .icon-cogs.icon-3x
          Manage Facilities &nbsp;

        = link_to destroy_user_session_path, :method => :delete do
          .icon-user.icon-3x 
          Log Out 
.row-fluid
  = render :partial => 'shared/flash_messages'




