%tr.measurement
  - if !label.nil?
    = f.hidden_field :label, :value => label
  %td.measure= f.text_field :location, :maxlength => Measurement::MAX_LOCATION_LEN
  %td.measure= f.text_field :circumference
  %td.measure
    = f.hidden_field :_destroy
    = link_to_function "X", "if (confirm('Delete this measurement?')) remove_measurement(this)"
