= form_for @treatment_session do |f|
  = render :partial => 'shared/error_messages', :locals => { :errors => @treatment_session.errors, :name => 'Treatment Session' }
  .row-fluid
    .span7
      .span12
        .span8
          %h4== #{@patient.name}. Session #{@current_session_idx} of #{@total_sessions}, '#{@plan.description}' plan

          %h1#countdown_timer.timer
            - seconds_remaining = @treatment_session.process_timer.seconds_remaining || 0
            - elapsed_seconds = @treatment_session.process_timer.elapsed_seconds || 0
            - scheduled_pause = @treatment_session.process_timer.next_pause || -1
            - running = @treatment_session.process_timer.pausable? ? 'true' : 'false'
            #time_remaining{:elapsed => elapsed_seconds, :remaining => seconds_remaining, :scheduled_pause => scheduled_pause, :running => running, :session => @treatment_session.id}
            - if @treatment_session.machine.web_enabled
              #machine_config{:hostname => @treatment_session.machine.hostname, :api_port => Machine::API_PORT}
          - if @treatment_session.labels.empty?
            = render :partial => 'table_header', :locals => { :caption => 'Measurements' }
            -# @treatment_session.measurements.each do |m|
            = f.fields_for :measurements do |measurement_form|
              = render :partial => 'measurement_row', :locals => { :f => measurement_form, :label => nil }
            = render :partial => 'table_footer', :locals => { :session => @treatment_session, :f => f, :label => nil, :tag => 'last_measurement' }
          - else
            -# Before table
            = render :partial => 'table_header', :locals => { :caption => 'Before Measurements' }
            - @treatment_session.labeled_measurements(Measurement::BEFORE_LABEL).each do |m|
              = f.fields_for :measurements, m do |measurement_form|
                = render :partial => 'measurement_row', :locals => { :f => measurement_form, :label => Measurement::BEFORE_LABEL }
            = render :partial => 'table_footer', :locals => { :session => @treatment_session, :f => f, :label => Measurement::BEFORE_LABEL, :tag => 'last_before' }
            -# After table
            = render :partial => 'table_header', :locals => { :caption => 'After Measurements' }
            - @treatment_session.labeled_measurements(Measurement::AFTER_LABEL).each do |m|
              = f.fields_for :measurements, m do |measurement_form|
                = render :partial => 'measurement_row', :locals => { :f => measurement_form, :label => Measurement::AFTER_LABEL }
            = render :partial => 'table_footer', :locals => { :session => @treatment_session, :f => f, :label => Measurement::AFTER_LABEL, :tag => 'last_after' }
          %br/
          = f.label :notes
          = f.text_area :notes, :size => '80x4', :style => "width:100%"
        .span3.control-group
          -# Show current image
          .control-label= f.label :patient_image
          .control.inputFile= f.file_field :patient_image, :accept => 'image/*;capture-camera'
          %br/
          .patientImg
            - if !@treatment_session.patient_image.file.nil? and @treatment_session.patient_image.file.exists?
              = image_tag @treatment_session.patient_image_url(:standard).to_s

    - if !@first_session_flag
      .span5
        %h4 Previous Sessions
        %iframe{:src => completed_sessions_patient_url(@patient)}
  .row-fluid
    -#.navbar-fixed-bottom
    .span2
      = f.submit 'Update Session Data', :class => 'btn btn-large btn-success'
    .span4.offset1
      = render :partial => 'shared/timer', :locals => { :f => f, :timer => @treatment_session.process_timer }
    .span3.offset1
      .field
        = f.label :machine_id
        %br/
        = f.collection_select :machine_id, @facility.machines, :id, :display_name 
      .field
        = f.label :protocol_id
        %br/
        = f.collection_select :protocol_id, Protocol.all, :id, :name
      .machineframe
        %iframe{:id => "machinestat", :src => "http://webiopi:raspberry@192.168.1.10:8000/GPIO/27/slenderoff"}


