.offset2
  .span12.control-group
    = form_for @treatment_session do |f|
      = render :partial => 'shared/error_messages', :locals => { :errors => @treatment_session.errors, :name => 'Treatment Session' }
      .span5
        %h4 Start New Session
        - if @new_session.empty?
          %em No patients are ready to start new sessions
        - else
          .control-label
            = label_tag :new_machine_id, 'Machine'
          .control
            = select_tag :new_machine_id, options_from_collection_for_select(@facility.machines, :id, :display_name)
          -#
            .control-label
              = f.label :protocol_id
            .control
              = f.collection_select :protocol_id, Protocol.all, :id, :name
          .control-label
            = label_tag :new_patient_id, 'Patient'
          .control
            = select_tag :new_patient_id, options_from_collection_for_select(@new_session, :id, :name)
          %br/
          .actions
            = f.submit I18n.t('start_session'), :class => 'btn btn-large btn-success'
      .span5
        %h4 Resume Current Session
        - if @resume_session.empty?
          %em No patients have unfinished sessions
        - else
          .control-label
            = label_tag :resume_machine_id, 'Machine'
          .control
            = select_tag :resume_machine_id, options_from_collection_for_select(@facility.machines, :id, :display_name, @resume_machine_id)
          .control-label
            = label_tag :resume_patient_id, 'Patient'
          .control
            = select_tag :resume_patient_id, options_from_collection_for_select(@resume_session, :id, :name), :onchange => 'update_machine()'
          %br/
          .actions
            = f.submit I18n.t('resume_session'), :class => 'btn btn-large btn-success'
