- show_facility_name = !current_user.nil? && current_user.has_role?(Role::SUPER_ADMIN)
- technician = !current_user.nil? && current_user.has_role?(Role::TECHNICIAN)
.span6
  %h1 Photos
  - @photos.each do |photo|
    - if !current_user.nil?
      %br= photo.created_at.try(:strftime, ApplicationHelper::DATETIME_FORMAT)
    = image_tag photo.facility_image_url(:standard).to_s
    .well
      %br= photo.title
      %em= photo.caption
      - if show_facility_name
        %br= photo.treatment_facility.name
      - if technician
        %br/
        = link_to 'Edit', edit_photo_path(photo), :class => "btn btn-primary"
        = link_to 'Delete', photo, :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "btn btn-primary"
      %br/
  %br/
  - if technician
    = link_to 'Add Photo', new_photo_path, :class => "btn btn-primary"
