.facilitypage
  %h1 Protocols
  - @protocols.each do |protocol|
    %strong
      = link_to protocol.name, protocol_path(protocol) 
    == [#{protocol.frequency}]
    - if protocol.protocol_file.present?
      - fname = protocol.protocol_file.to_s
      - basename = fname[fname.rindex("/") + 1, fname.length]
      = basename
    - else
      No sound file uploaded
    = link_to 'Edit', edit_protocol_path(protocol)
    = link_to 'Delete', protocol, :method => 'delete', :data => { confirm: 'Are you sure?'}
    %br
  %br
  = link_to "<i class='icon-plus'></i> New Protocol".html_safe, new_protocol_path,{:class => 'btn btn-success '}  
