.offset2
  %h1 Patient Testimonials
  %center
    = will_paginate
    = page_entries_info
  - @testimonials.each do |testimonial|
    - facility = testimonial.patient.treatment_facility
    %blockquote= testimonial.comment
    == - #{facility.facility_name}; #{facility.city}, #{facility.state}. 
    %em= testimonial.date_entered.try(:strftime, ApplicationHelper::DATE_FORMAT)
    - if @can_edit
      = link_to 'Edit', edit_testimonial_path(testimonial)
      = link_to 'Delete', testimonial, :method => 'delete', :data => { confirm: 'Are you sure?'}
  %br/
  %center= will_paginate
  - if @can_create
    %br/
    = link_to "<i class='icon-plus'></i> New Testimonial".html_safe, new_testimonial_path,{:class => 'btn btn-success '}  
  