!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "initial-scale=1, maximum-scale=1" }
  %meta{:name => 'viewport', :content => "width=device-width" }
  %meta{:name => 'description', :content => I18n.t('meta_description') }
  %title SlenderRay Treatment
  = favicon_link_tag 
  = javascript_include_tag "application"
  = csrf_meta_tags
  = stylesheet_link_tag "application", :media => "all"
  = render 'layouts/application/shim'
%body
.container
  .space-large
    = render :partial => 'shared/flash_messages'
    .span12
      .span4
        %h1 Time Remaining
      .span4
        = link_to(image_tag('/assets/logo.png'), root_path)   
      .span4
        .span4.pull-left
          = link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-success'
    %br/
  = yield
  %center
    %h1 Timer Footer
