!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "initial-scale=1, maximum-scale=1" }
  %meta{:name => 'viewport', :content => "width=device-width" }
  %meta{:name => 'description', :content => I18n.t('meta_description') }
  %title SlenderRay Treatment
  = favicon_link_tag 
  = javascript_include_tag "application"
  = csrf_meta_tags
  = stylesheet_link_tag "application", :media => "all"
  = render 'layouts/application/shim'
%body
.container-fluid
  .row-fluid
    .span5
      = link_to(image_tag('/assets/logo.jpg'), root_path)   
    .span5.pull-right
      %br
      = link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-success'
  .row-fluid
    = render :partial => 'shared/flash_messages'
  = yield
